.bar{
    height: calc(100vh - var(--header-height));
    width: 100%;
    background: #151412;
    color: white;
    display: flex;
    justify-content: center;
    background: #161003;

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;

}

.bar .container {
    width: var(--container-width);
    /* margin-top: var(--header-height); */

}