.bar{
    width: 100%;
    background: #151412;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #161003;

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;

}

.bar .frame {
    margin-top: var(--header-height-min);
    max-height: calc(100vh- var(--header-height-min));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 55px;
    position: relative;

    border: 5px solid #43300E;
}

.bar .frame .background {
    max-height: 100%;
}

.bar .frame .wolf1 {
    max-height: 100%;
    position: absolute;
    top: 6.0189166%;
    left: 15.6807512%;
    width: 24.8826291%;
    height: 58.2545142%;
    opacity: 1;
    transform: none;
    transition: all 0.5s;
}

.bar .frame .wolf1.hide {
    transform: translateX(-60%);
    opacity: 0;
}

.bar .frame .wolf2 {
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 14.084507%;
    width: 28.8262911%;
    height: 57.6096303%;
    overflow: hidden;
}
.bar .frame .wolf2 img {
    width: 100%;
    height: 100%;
    transform: none;
    transition: all 0.5s;
    opacity: 1;
}

.bar .frame .wolf2.hide img {
    transform: translateY(60%);
    opacity: 0;
}

.bar .text {
    width: 1000px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 55px;
}
