body {
    margin: 0;
}

.theme {
    /* visibility: hidden; */
    /* display: none; */
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    z-index: 1;
    will-change: clip-path;
}
.visible {
    transition: clip-path ease 2s;
    clip-path: circle(100%);
    z-index: 2;
}
.hidden {
    clip-path: circle(0%);
    transition: clip-path ease 0s 2s;

}

.dark {
    color: white;
    background: linear-gradient(180deg, #020C25 0%, #111119 100%);
}
.light {
    background: linear-gradient(222.76deg, #FFFFFF 10.1%, #FFEBA3 94.06%);
}

.theme div {
    font-size: 48px;
}
img {
    width: 500px;
}