body {
    margin: 0;
}
.wrapper {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper-1 {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #020C25 0%, #111119 100%);

}
.container {
    position: relative;

    width: 100vw;
    height: 100vh;

    /* width: 2520px; */
    /* height: 1440px;   */
    max-height: 100vh;
    overflow: hidden;
}


img {
    position: absolute;
    object-fit: cover;
    /* object-fit: none; */
}
.s-sky {
    width: 100%;
    height: 43.54%;
    top: 0;
}
.s-middle {
    width: 100%;
    height: 33.75%;
    top: 38.47%;
}
.s-water {
    width: 100%;
    /* height: 32.85%; */
    height: 48.75%;
    top: 67.1527788%;
    z-index: 20;
}
.s-title {
    top: 30.417%;
    left: 50%;
    transform: translateX(-50%);
}
.s-sun {
    top: 46.46%;
    left: 50%;
    transform: translateX(-50%);
}
.s-mirror {
    top: 66.875%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 24;
}

@media (min-width: 150vh) {
    img {
        object-fit: initial;
    }
}